.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop{
    display: flex;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(39, 39, 218);
    color: white;
    max-width: 200px;
}

.messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  

.messageBottom{
    font-size: 15px;
    margin-top: 20px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: thistle;
    color: black;
}